$body-font:         'Lora', serif;
$header-font:       'Libre Baskerville', serif;

$base-font-size:    18px;
$base-line:         30px;
$base-line-factor:  1.4;

$smaller-font-size: 16px;
$tiny-font-size:    12px;
$bigger-font-size:  28px;
$large-font-size:   48px;

$anim-speed:        150ms;

$img-root: "../images/";

$light-1:   #EAEAEA;
$light-2:   #AAAAAA;

$dark-1:    #141414;
$dark-2:    #1e1e1e;