//important settings
@import "settings";

//libs
@import "libs/reset";
@import "libs/helpers";
@import "libs/vertical-rhythm";
@import "bourbon";
@import "neat";
@import "libs/monokai-hljs";

//Breakpoints
$max-width:         em(1100);
$mobile:            new-breakpoint(max-width 560px 4);
$tablet:            new-breakpoint(min-width 560px 10);
$tablet-only:       new-breakpoint(min-width 560px max-width 820px 10);
$desktop:           new-breakpoint(min-width 820px 12);
$big-desktop:       new-breakpoint(min-width 1020px 16);

//atoms
@import "atoms/sprite";
@import "atoms/body";
@import "atoms/typography";
@import "atoms/headers";
@import "atoms/content";
@import "atoms/sidebar";
@import "atoms/button";
@import "atoms/form-elements";

//molecules
@import "molecules/main-header";
@import "molecules/main-footer";
@import "molecules/main-nav";
@import "molecules/breadcrumbs";
@import "molecules/post";
@import "molecules/docs";
@import "molecules/about";
@import "molecules/sponsor";
@import "molecules/paginator";
@import "molecules/contact-form";

//organisms
@import "organisms/index";
@import "organisms/print";