//important settings
@import "settings";

//libs
@import "libs/reset";
@import "libs/helpers";
@import "libs/vertical-rhythm";
@import "libs/bourbon/bourbon";
@import "libs/neat/neat-helpers";
@import "libs/neat/neat";

//atoms
@import "atoms/typography";

.main-header {
    background-image: url("#{$img-root}gn-pattern.svg");
    background-size: rhythm(3);
    background-color: #1A1A1A;
    height: rhythm(12);
}