{% extends "base.html" %}

{% block extraClass %} post{% endblock %}

{% block content %}
    <section class="breadcrumbs">
        <a href="{{ env.locals.url }}" class="breadcrumbs__link">{{ env.locals.name }}</a>
        <span class="breadcrumbs__seperator">&rsaquo;</span>
        <span class="breadcrumbs__item">{{ page.title }}</span>
    </section>

    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post__header">
            <h1 class="post__header__text"><a href="{{ url }}{{ page.url }}" itemprop="name headline">{{ page.title }}</a></h1>
        </header>

        <section class="post__body" itemprop="articleBody">
            {% autoescape false %}{{ page.html }}{% endautoescape %}
        </section>
    </article>
{% endblock %}