{% extends "base.html" %}

{% block extraClass %}{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <section class="breadcrumbs">
        <a href="{{ env.locals.url }}" class="breadcrumbs__link">{{ env.locals.name }}</a>
        <span class="breadcrumbs__seperator">&rsaquo;</span>
        <span class="breadcrumbs__item">{{ page.title }}</span>
    </section>

    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post__header">
            <h1 class="post__header__text"><a href="{{ url }}{{ page.url }}" itemprop="name headline">{{ page.title }}</a></h1>
        </header>

        {% if page.metadata.links %}
            <section class="post__links">
                {% for link in page.metadata.links %}
                    <a class="post__links__link" href="{{ link.url }}">
                        <span class="post__links__link__title">{{ link.title }}</span>
                        <span class="post__links__link__desc">{{ link.desc }}</span>
                    </a>
                {% endfor %}
            </section>
        {% endif %}

        {% if page.metadata.docs %}
            <section class="docs">
                <h2 class="docs__title">{{ page.metadata.docs.name }}</h2>

                {% if page.metadata.docs.functions %}
                    <ul class="docs__functions">
                        {% for function in page.metadata.docs.functions %}
                            <li class="docs__functions__function function">
                                <div class="function__syntax">
                                    <span class="function__syntax__name">{{ function.name }}</span>({% for param in function.params %}
                                        <span class="function__syntax__type">{{ param.type }}</span>
                                        <span class="function__syntax__var">{{ param.name }}</span>
                                        {% if not loop.last %}
                                            <span class="function__syntax__separator">,</span>
                                        {% endif %}
                                    {% endfor %});
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </section>
        {% endif %}

        <section class="post__body" itemprop="articleBody">
            {{ page.html }}
        </section>

        <section class="post__meta">
            <section class="post__meta__published">
                Published on <time content="{{ moment.utc(page.date).format() }}" datetime="{{ moment.utc(page.date).format() }}" itemprop="datePublished">{{ moment.utc(page.date).format('DD MMMM, YYYY') }}</time>
            </section>
            <section class="post__meta__closing">
                If you have any remarks or questions, tell me so on Twitter using <a href="http://twitter.com/GayaNinja">@GayaNinja</a>.
            </section>
        </section>
    </article>
{% endblock %}