{% if pageTitle == false %}
    {% set pageTitle = env.locals.name %}
{% endif %}

{% if pageDescription == false %}
    {% set pageDescription = env.locals.description %}
{% endif %}

{% if pageCanonical == false %}
    {% set pageCanonical = env.locals.url %}
{% endif %}

{% if pagePoster == false %}
    {% set pagePoster = env.locals.url + "/images/fb-poster.jpg" %}
{% endif %}

{% if extraClass %}
    {% set extraClass = " " + extraClass %}
{% else %}
    {% set extraClass = "" %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta name="robots" content="noodp,noydir">

    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}">

    <link rel="canonical" href="{{ pageCanonical }}">
    {% if prevPage %}<link rel="prev" href="{{ env.locals.url }}{{ prevPage.url }}">{% endif %}
    {% if nextPage %}<link rel="next" href="{{ env.locals.url }}{{ nextPage.url }}">{% endif %}

    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="alternate" type="application/rss+xml" title="{{ env.locals.name }} &raquo; Feed" href="{{ env.locals.feedurl }}">

    <link rel="stylesheet" href="{{ env.locals.url }}/css/style.css">

    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ pageTitle }}"/>
    <meta property="og:description" content="{{ pageDescription }}"/>
    <meta property="og:url" content="{{ pageCanonical }}"/>
    <meta property="og:site_name" content="{{ env.locals.name }}"/>
    <meta property="article:publisher" content="https://www.facebook.com/gayaninja"/>
    <meta property="fb:admins" content="100000090654216"/>
    <meta property="article:published_time" content="{{ moment.utc(page.date).format() }}"/>
    <meta property="article:modified_time" content="{{ moment.utc(page.date).format() }}"/>
    <meta property="og:updated_time" content="{{ moment.utc(page.date).format() }}"/>
    <meta property="og:image" content="{{ pagePoster }}"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="{{ pageDescription }}"/>
    <meta name="twitter:title" content="{{ pageTitle }}"/>
    <meta name="twitter:site" content="@GayaKessler"/>
    <meta name="twitter:creator" content="@GayaKessler"/>
    <meta name="twitter:image:src" content="{{ pagePoster }}"/>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ env.locals.url }}/images/app-icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ env.locals.url }}/images/app-icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ env.locals.url }}/images/app-icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ env.locals.url }}/images/app-icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ env.locals.url }}/images/app-icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ env.locals.url }}/images/app-icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ env.locals.url }}/images/app-icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ env.locals.url }}/images/app-icons/apple-touch-icon-152x152.png" />

    <link rel="shortcut icon" href="{{ env.locals.url }}/images/app-icons/favicon.ico" />
    <link rel="icon" type="image/png" href="{{ env.locals.url }}/images/app-icons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ env.locals.url }}/images/app-icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ env.locals.url }}/images/app-icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ env.locals.url }}/images/app-icons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ env.locals.url }}/images/app-icons/favicon-128.png" sizes="128x128" />

    <meta name="application-name" content="Gaya Kessler's Blog"/>
    <meta name="msapplication-TileColor" content="#141414" />
    <meta name="msapplication-TileImage" content="{{ env.locals.url }}/images/app-icons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="{{ env.locals.url }}/images/app-icons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="{{ env.locals.url }}/images/app-icons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="{{ env.locals.url }}/images/app-icons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="{{ env.locals.url }}/images/app-icons/mstile-310x310.png" />
</head>
<body itemscope itemtype="http://schema.org/Blog">
    <header class="main-header">
        <a href="{{ env.locals.url }}" class="main-header__logo">
            <span class="main-header__logo__text">Gaya</span>
            <span class="main-header__logo__text--extra">Kessler</span>
        </a>
    </header>

    <nav class="main-nav">
        <section class="main-nav__container" role="navigation">
            <a class="main-nav__link--home" href="{{ env.locals.url }}">Home</a>
            <a class="main-nav__link" href="{{ env.locals.url }}/about/">About</a>
            <a class="main-nav__link" href="{{ env.locals.url }}/contact/">Contact</a>
            <a class="main-nav__link" href="https://theclevernode.com">Hire me</a>
            <a class="main-nav__link--twitter" href="http://twitter.com/GayaKessler">Twitter</a>
            <a class="main-nav__link--github" href="https://github.com/Gaya/gaya.pizza">GitHub</a>
        </section>
    </nav>

    <section class="main-content">
        <section class="posts{{ extraClass }}" role="main">
            {% block content %}
                <article class="post" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
                    <header class="post__header">
                        <h1 class="post__header__text" itemprop="name headline">Whoops... nothing here!</h1>
                    </header>
                </article>
            {% endblock %}
        </section>

        <aside class="sidebar">
            <section class="about" role="complementary">
                <p>
                    <img src="{{ env.locals.url }}/images/avatar-2016.jpg" width="90" height="90" class="about__avatar" alt="Gaya Kessler" />
                    All articles on this blog are written by Gaya Kessler,
                    <em>(Full Stack) Web Developer</em> from the Netherlands.
                    Loves all things <em>JavaScript</em>, <em>Modern Front-end Tooling</em>,
                    <em>React</em>, and <em>Node.js</em>.
                </p>
                <a class="about__link" href="http://theclevernode.com">Read more about Gaya</a>
            </section>
        </aside>
    </section>

    <footer class="main-footer">
        <section class="main-footer__copyright">
            2008 - {{ moment.utc().format('YYYY') }} © Gaya Kessler.
        </section>
        <section class="main-footer__also-on">
            Find me on:
            <a href="https://github.com/Gaya">GitHub</a>,
            <a href="http://twitter.com/GayaKessler">Twitter</a>,
            <a href="http://www.last.fm/user/xgayax">Last.fm</a>
        </section>
    </footer>

    <script type="text/javascript" src="{{ env.locals.url }}/js/gaya-pizza.js"></script>
</body>
</html>
