<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Gaya Ninja Blog</title>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata|Lora:400,700,400italic,700italic|Libre+Baskerville' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>
<body itemscope itemtype="http://schema.org/Blog">

{% block content %}No content found.{% endblock %}

</body>
</html>