{% extends "base.html" %}

{% block extraClass %} page contact{% endblock %}

{% block content %}
<section class="breadcrumbs">
    <a href="{{ env.locals.url }}" class="breadcrumbs__link">{{ env.locals.name }}</a>
    <span class="breadcrumbs__seperator">&rsaquo;</span>
    <span class="breadcrumbs__item">{{ page.title }}</span>
</section>

<article class="post" itemscope itemtype="http://schema.org/WebPage">
    <header class="post__header">
        <h1 class="post__header__text"><a href="{{ url }}{{ page.url }}" itemprop="name headline">{{ page.metadata.subtitle }}</a></h1>
    </header>

    <section class="post__body" itemprop="text">
        {{ page.html }}
    </section>

    <form action="?" id="contact-form" class="contact-form" method="post">
        <fieldset>
            <div class="contact-form__row">
                <label class="contact-form__label" for="name">
                    Name
                </label>
                <input type="text" class="contact-form__text-input" data-required="true"
                       data-required-message="Please provide your name" name="name" id="name" tabindex="1" />
            </div>

            <div class="contact-form__row">
                <label class="contact-form__label" for="email">
                    Email address
                </label>
                <input type="email" class="contact-form__text-input" name="email" id="email" data-required="true"
                       data-required-message="Please enter your email address"
                       data-invalid="Please enter a valid email address" tabindex="2" />
            </div>

            <div class="contact-form__row">
                <label class="contact-form__label" for="message">
                    Message
                </label>
                <textarea name="message" class="contact-form__text-area" id="message" cols="60" rows="5"
                          data-required="true" data-required-message="Entering a message is required"
                          tabindex="3"></textarea>
            </div>

            <div class="contact-form__row">
                <input name="submit-button" class="contact-form__submit" id="submit-button" value="Send" type="submit" tabindex="4" />
            </div>
        </fieldset>
    </form>
</article>
{% endblock %}