{% extends "base.html" %}

{% block extraClass %} page contact{% endblock %}

{% block content %}
<section class="breadcrumbs">
    <a href="{{ env.locals.url }}" class="breadcrumbs__link">{{ env.locals.name }}</a>
    <span class="breadcrumbs__seperator">&rsaquo;</span>
    <span class="breadcrumbs__item">{{ page.title }}</span>
</section>

<article class="post" itemscope itemtype="http://schema.org/WebPage">
    <header class="post__header">
        <h1 class="post__header__text"><a href="{{ url }}{{ page.url }}" itemprop="name headline">{{ page.metadata.subtitle }}</a></h1>
    </header>

    <section class="post__body" itemprop="text">
        {{ page.html }}

        <form action="?" method="post">
            <fieldset>
                <div>
                    <label for="name">
                        Name
                    </label>
                    <input type="text" name="name" id="name" />
                </div>

                <div>
                    <label for="email">
                        Email address
                    </label>
                    <input type="email" name="email" id="email" />
                </div>

                <div>
                    <label for="message">
                        Message
                    </label>
                    <textarea name="message" id="message" cols="60" rows="10"></textarea>
                </div>

                <div>
                    <input name="submit" id="submit" value="Send" type="submit" />
                </div>
            </fieldset>
        </form>
    </section>
</article>
{% endblock %}