{% extends "base.html" %}

{% set extraClass = "page" %}

{% set pageCanonical = url + page.url %}

{% if page.metadata.seo_title %}
    {% set pageTitle = page.metadata.seo_title %}
{% else %}
    {% set pageTitle = page.title %}
{% endif %}

{% if page.metadata.seo_desc %}
    {% set pageDescription = page.metadata.seo_desc %}
{% endif %}

{% block content %}
    <section class="breadcrumbs">
        <a href="{{ env.locals.url }}" class="breadcrumbs__link">{{ env.locals.name }}</a>
        <span class="breadcrumbs__seperator">&rsaquo;</span>
        <span class="breadcrumbs__item">{{ page.title }}</span>
    </section>

    <article class="post" itemscope itemtype="http://schema.org/WebPage">
        <header class="post__header">
            <h1 class="post__header__text"><a href="{{ url }}{{ page.url }}" itemprop="name headline">{{ page.metadata.subtitle }}</a></h1>
        </header>

        <section class="post__body" itemprop="text">
            {{ page.html }}
        </section>
    </article>
{% endblock %}
