<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="{% block title %}{{ env.locals.name }}{% endblock %}"/>
<meta property="og:description" content="{% block description %}{{ env.locals.description }}{% endblock %}"/>
<meta property="og:url" content="{% block canonical %}{{ env.locals.url }}{% endblock %}"/>
<meta property="og:site_name" content="{{ env.locals.name }}"/>
<meta property="article:publisher" content="https://www.facebook.com/gayaninja"/>
<meta property="fb:admins" content="100000090654216"/>
<meta property="article:published_time" content="{{ moment.utc(page.date).format() }}"/>
<meta property="article:modified_time" content="{{ moment.utc(page.date).format() }}"/>
<meta property="og:updated_time" content="{{ moment.utc(page.date).format() }}"/>
<meta property="og:image" content="{% block poster %}{{ env.locals.url }}/images/fb-poster.jpg{% endblock %}"/>