%button {
    color: $light-1;
    background: $dark-3;
    display: inline-block;
    padding: rhythm(0.25) 10px;
    margin: rhythm(-0.25) 0;
    border: 0px;
    border-radius: 3px;
    text-decoration: none;
    font: {
        family: $body-font;
    }
    cursor: pointer;
    @include transition(background $anim-speed);

    &:after, &:before {
        content: "→";
        padding: 0 0 0 6px;
        @include transition(padding $anim-speed);
    }

    &:before {
        content: "←";
        padding: 0 6px 0 0;
        display: none;
    }

    &:hover {
        background: $highlight-1;

        &:after {
            padding: 0 6px 0 12px;
        }
    }
}

%button--left {
    @extend %button;

    &:after {
        display: none;
    }

    &:before {
        display: inline;
    }

    &:hover {
        &:before {
            padding: 0 12px 0 6px;
        }
    }
}

.post__body .big-button {
    background: #f7f7f7;
    border: 1.5px solid $highlight-1;
    padding: 0.5em 1.5em;
    border-radius: 1em;
    color: #C4141D;
    text-decoration: none;
    display: block;
    margin: 1em auto;

    &:hover {
        background: $highlight-1;
        color: $light-4;
    }
}
