.main-header {
    background-image: url("#{$img-root}gn-pattern.svg");
    background-size: auto rhythm(2);
    background-color: $dark-2;
    background-position: center center;
    height: rhythm(6);
    position: relative;

    &__logo {
        background-image: url("#{$img-root}gn-logo.svg");
        background-size: auto rhythm(4);
        background-repeat: no-repeat;
        height: rhythm(4);
        width: rhythm(4.617449664);
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: rhythm(-2) 0 0 rhythm(-2.308724832);
        color: $light-2;
        text-decoration: none;

        &__text {
            @extend %header-font;
            @extend %big-font-size;
            position: absolute;
            top: rhythm(1);
            right: rhythm(5);
            text-align: right;

            @include media($tablet) {
                @include change-font-size($large-font-size);
                top: rhythm(0.5);
            }

            &--extra {
                @extend .main-header__logo__text;
                right: auto;
                text-align: left;
                left: rhythm(5);
            }
        }
    }
}