%page-header {
    @include change-font-size($large-font-size);
    margin-bottom: rhythm(1);

    a {
        text-decoration: none;
        color: $dark-1;
    }

    @include media($tablet) {
        @include change-font-size($huge-font-size);
    }
}

h1, h2, h3, h4, h5 {
    @extend %header-font;
}