%page-header {
    @include change-font-size($large-font-size);
    font-weight: bold;
    margin-bottom: rhythm(1);

    a {
        text-decoration: none;
        color: $dark-1;
    }

    @include media($tablet) {
        @include change-font-size($huge-font-size);
        margin-bottom: rhythm(2);
    }
}