/*
 * Generate a SVG-sprite mixin for Sass
 * ====================================
 *
 * Gaya Kessler - http://gaya.ninja - http://twitter.com/GayaNinja
 *
 * SVGSprite is a wonderful package, but doesn't enable responsive sprites out of the box.
 * This moustache template generates a sass file with a mixin for the generated SVG-sprite.
 * Calculates the position and size of the background by filename.
 * Included SVG image scales to width and height.
 *
 * Usage:
 * ======
 * 1. In the SVGSprite options put the template in the `render` property:
 *
 * render: {
 *      sass: {
 *          template: 'svg-sprite-layout.scss',
 *          dest: 'path/to/output/svg-sprite.scss'
 *      }
 * }
 *
 * 2. Import the generated .scss file in your Sass project:
 *
 * @import "path/to/output/svg-sprite.scss";
 *
 * 3. Use the SVG image on an element:
 *
 * .element {
 *      @include svg-sprite('name-of-svg-file');
 *      width: 15px;
 *      height: 20px;
 * }
 *
 */

%sprite {
    background-image: url(../images/gn-sprite.svg);
    background-origin: padding-box;
}

$sprite-padding: 0;
$sprites: (
    "facebook-icon": (
    "w": 51.91956124314442,
    "h": 100,
    "rw": 51.91956124314442,
    "rh": 100,
    "x": 0,
    "y": 0
),
    "feed-icon": (
    "w": 87.5,
    "h": 87.5,
    "rw": 87.5,
    "rh": 87.5,
    "x": -52,
    "y": -100
),
    "feed-icon-on": (
    "w": 87.5,
    "h": 87.5,
    "rw": 87.5,
    "rh": 87.5,
    "x": -140,
    "y": -188
),
    "gn-logo": (
    "w": 100,
    "h": 86.62790697674417,
    "rw": 100,
    "rh": 86.62790697674417,
    "x": -228,
    "y": -276
),
    "gn-logo-dark": (
    "w": 100,
    "h": 86.62790697674417,
    "rw": 100,
    "rh": 86.62790697674417,
    "x": -328,
    "y": -363
),
    "gn-logo-dark-on": (
    "w": 100,
    "h": 86.62790697674417,
    "rw": 100,
    "rh": 86.62790697674417,
    "x": -428,
    "y": -450
),
    "home-icon": (
    "w": 100,
    "h": 89.05380333951763,
    "rw": 100,
    "rh": 89.05380333951763,
    "x": -528,
    "y": -537
),
    "home-icon-on": (
    "w": 100,
    "h": 89.05380333951763,
    "rw": 100,
    "rh": 89.05380333951763,
    "x": -628,
    "y": -627
),
    "twitter-icon": (
    "w": 100,
    "h": 81.27286027798098,
    "rw": 100,
    "rh": 81.27286027798098,
    "x": -728,
    "y": -717
),
);
$total-w: 828;
$total-h: 799;

@mixin svg-sprite($name) {
    @extend %sprite;

    $sprite: map-get($sprites, $name);

    $pos-x: 0;
    $pos-y: 0;

    @if ($total-w - map-get($sprite, "rw")) != 0 {
        $pos-x: ((map-get($sprite, "x") * -1) + $sprite-padding) / (($total-w - map-get($sprite, "rw")));
    }

    @if ($total-h - map-get($sprite, "rh")) != 0 {
        $pos-y: ((map-get($sprite, "y") * -1) + $sprite-padding) / ($total-h - map-get($sprite, "rh"));
    }

    background-size: percentage($total-w / map-get($sprite, "rw")) auto;
    background-position: percentage($pos-x) percentage($pos-y);
}

@function svg-sprite-width($name, $height) {
    $sprite: map-get($sprites, $name);
    @return map-get($sprite, "rw") * ($height / map-get($sprite, "rh"));
}

@function svg-sprite-height($name, $width) {
    $sprite: map-get($sprites, $name);
    @return map-get($sprite, "rh") * ($width / map-get($sprite, "rw"));
}