/*
 * Generate a SVG-sprite mixin for Sass
 * ====================================
 *
 * Gaya Kessler - http://gaya.ninja - http://twitter.com/GayaNinja
 *
 * SVGSprite is a wonderful package, but doesn't enable responsive sprites out of the box.
 * This moustache template generates a sass file with a mixin for the generated SVG-sprite.
 * Calculates the position and size of the background by filename.
 * Included SVG image scales to width and height.
 *
 * Usage:
 * ======
 * 1. In the SVGSprite options put the template in the `render` property:
 *
 * render: {
 *      sass: {
 *          template: 'svg-sprite-layout.scss',
 *          dest: 'path/to/output/svg-sprite.scss'
 *      }
 * }
 *
 * 2. Import the generated .scss file in your Sass project:
 *
 * @import "path/to/output/svg-sprite.scss";
 *
 * 3. Use the SVG image on an element:
 *
 * .element {
 *      @include svg-sprite('name-of-svg-file');
 *      width: 15px;
 *      height: 20px;
 * }
 *
 */

%sprite {
    background-image: url(../images/gn-sprite.svg);
    background-origin: padding-box;
}

$sprite-padding: 5;
$sprites: (
    "facebook-icon": (
    "w": 123.6,
    "h": 228.8,
    "rw": 113.6,
    "rh": 218.8,
    "x": 0,
    "y": 0
),
    "feed-icon": (
    "w": 97.5,
    "h": 97.5,
    "rw": 87.5,
    "rh": 87.5,
    "x": 0,
    "y": -229
),
    "feed-icon-on": (
    "w": 97.5,
    "h": 97.5,
    "rw": 87.5,
    "rh": 87.5,
    "x": 0,
    "y": -327
),
    "gn-logo": (
    "w": 182,
    "h": 159,
    "rw": 172,
    "rh": 149,
    "x": 0,
    "y": -425
),
    "gn-logo-dark": (
    "w": 182,
    "h": 159,
    "rw": 172,
    "rh": 149,
    "x": 0,
    "y": -584
),
    "gn-logo-dark-on": (
    "w": 182,
    "h": 159,
    "rw": 172,
    "rh": 149,
    "x": 0,
    "y": -743
),
    "home-icon": (
    "w": 117.8,
    "h": 106,
    "rw": 107.8,
    "rh": 96,
    "x": 0,
    "y": -902
),
    "home-icon-on": (
    "w": 117.8,
    "h": 106,
    "rw": 107.8,
    "rh": 96,
    "x": 0,
    "y": -1008
),
    "twitter-icon": (
    "w": 283.4,
    "h": 232.2,
    "rw": 273.4,
    "rh": 222.2,
    "x": 0,
    "y": -1114
),
);
$total-w: 283.4;
$total-h: 1347;

@mixin svg-sprite($name) {
    @extend %sprite;

    $sprite: map-get($sprites, $name);

    $pos-x: 0;
    $pos-y: 0;

    @if ($total-w - map-get($sprite, "rw")) != 0 {
        $pos-x: ((map-get($sprite, "x") * -1) + $sprite-padding) / (($total-w - map-get($sprite, "rw")));
    }

    @if ($total-h - map-get($sprite, "rh")) != 0 {
        $pos-y: ((map-get($sprite, "y") * -1) + $sprite-padding) / ($total-h - map-get($sprite, "rh"));
    }

    background-size: percentage($total-w / map-get($sprite, "rw")) auto;
    background-position: percentage($pos-x) percentage($pos-y);
}

@function svg-sprite-width($name, $height) {
    $sprite: map-get($sprites, $name);
    @return map-get($sprite, "rw") * ($height / map-get($sprite, "rh"));
}

@function svg-sprite-height($name, $width) {
    $sprite: map-get($sprites, $name);
    @return map-get($sprite, "rh") * ($width / map-get($sprite, "rw"));
}