/*
 * This template generates a sass file with mixins for the generated SVG
 * Calculates the position and size of the background by filename
 */

%sprite {
    background-image: url(../images/gn-sprite.svg);
}

@mixin svg-sprite($name) {
    @extend %sprite;

    $total-w: 100;
    $total-h: 617;

    @if $name == feed-icon {
        $s-w: 87.5;
        $s-h: 87.5;
        $s-y: 0;
        $s-x: 0;
        $pos-x: 0;
        $pos-y: 0;

        @if ($total-w - $s-w) != 0 {
            $pos-x: ($s-x * -1) / ($total-w - $s-w);
        }

        @if ($total-h - $s-h) != 0 {
            $pos-y: ($s-y * -1) / ($total-h - $s-h);
        }

        background-size: percentage($total-w / $s-w) percentage($total-h / $s-h);
        background-position: percentage($pos-x) percentage($pos-y);
    }
    @if $name == feed-icon-on {
        $s-w: 87.5;
        $s-h: 87.5;
        $s-y: -88;
        $s-x: 0;
        $pos-x: 0;
        $pos-y: 0;

        @if ($total-w - $s-w) != 0 {
            $pos-x: ($s-x * -1) / ($total-w - $s-w);
        }

        @if ($total-h - $s-h) != 0 {
            $pos-y: ($s-y * -1) / ($total-h - $s-h);
        }

        background-size: percentage($total-w / $s-w) percentage($total-h / $s-h);
        background-position: percentage($pos-x) percentage($pos-y);
    }
    @if $name == gn-logo {
        $s-w: 100;
        $s-h: 86.62790697674417;
        $s-y: -176;
        $s-x: 0;
        $pos-x: 0;
        $pos-y: 0;

        @if ($total-w - $s-w) != 0 {
            $pos-x: ($s-x * -1) / ($total-w - $s-w);
        }

        @if ($total-h - $s-h) != 0 {
            $pos-y: ($s-y * -1) / ($total-h - $s-h);
        }

        background-size: percentage($total-w / $s-w) percentage($total-h / $s-h);
        background-position: percentage($pos-x) percentage($pos-y);
    }
    @if $name == gn-logo-dark {
        $s-w: 100;
        $s-h: 86.62790697674417;
        $s-y: -263;
        $s-x: 0;
        $pos-x: 0;
        $pos-y: 0;

        @if ($total-w - $s-w) != 0 {
            $pos-x: ($s-x * -1) / ($total-w - $s-w);
        }

        @if ($total-h - $s-h) != 0 {
            $pos-y: ($s-y * -1) / ($total-h - $s-h);
        }

        background-size: percentage($total-w / $s-w) percentage($total-h / $s-h);
        background-position: percentage($pos-x) percentage($pos-y);
    }
    @if $name == gn-logo-dark-on {
        $s-w: 100;
        $s-h: 86.62790697674417;
        $s-y: -350;
        $s-x: 0;
        $pos-x: 0;
        $pos-y: 0;

        @if ($total-w - $s-w) != 0 {
            $pos-x: ($s-x * -1) / ($total-w - $s-w);
        }

        @if ($total-h - $s-h) != 0 {
            $pos-y: ($s-y * -1) / ($total-h - $s-h);
        }

        background-size: percentage($total-w / $s-w) percentage($total-h / $s-h);
        background-position: percentage($pos-x) percentage($pos-y);
    }
    @if $name == home-icon {
        $s-w: 100;
        $s-h: 89.05380333951763;
        $s-y: -437;
        $s-x: 0;
        $pos-x: 0;
        $pos-y: 0;

        @if ($total-w - $s-w) != 0 {
            $pos-x: ($s-x * -1) / ($total-w - $s-w);
        }

        @if ($total-h - $s-h) != 0 {
            $pos-y: ($s-y * -1) / ($total-h - $s-h);
        }

        background-size: percentage($total-w / $s-w) percentage($total-h / $s-h);
        background-position: percentage($pos-x) percentage($pos-y);
    }
    @if $name == home-icon-on {
        $s-w: 100;
        $s-h: 89.05380333951763;
        $s-y: -527;
        $s-x: 0;
        $pos-x: 0;
        $pos-y: 0;

        @if ($total-w - $s-w) != 0 {
            $pos-x: ($s-x * -1) / ($total-w - $s-w);
        }

        @if ($total-h - $s-h) != 0 {
            $pos-y: ($s-y * -1) / ($total-h - $s-h);
        }

        background-size: percentage($total-w / $s-w) percentage($total-h / $s-h);
        background-position: percentage($pos-x) percentage($pos-y);
    }
}