<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Gaya Ninja Blog</title>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Libre+Baskerville' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header class="main-header">
    <a href="#" class="main-header__logo">
        <span class="main-header__logo__text">Gaya</span>
        <span class="main-header__logo__text--extra">Ninja</span>
    </a>
</header>
</body>
</html>