<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Gaya Ninja Blog</title>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata|Lora:400,700,400italic,700italic|Libre+Baskerville' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
</head>
<body itemscope itemtype="http://schema.org/Blog">
    <header class="main-header">
        <a href="#" class="main-header__logo">
            <span class="main-header__logo__text">Gaya</span>
            <span class="main-header__logo__text--extra">Ninja</span>
        </a>
    </header>

    <section class="main-content">
        <article class="post" itemscope itemtype="http://schema.org/Article">
            <header class="post__header">
                <h1 class="post__header__text"><a href="#" itemprop="name headline">MarkPress: Markdown powered journal for WordPress</a></h1>
            </header>

            <section class="post__body" itemprop="articleBody">
                <p>
                    Markdown is used to quickly write a styled document with a simple syntax, great for taking notes or writing journals. MarkPress allows you to turn your WordPress install into an App to easily write and store Markdown notes.
                </p>

                <h2>What is MarkPress?</h2>

                <p>
                    Starting as an idea by <a href="#">Coen Jacobs</a>, and me wanting to do something with WordPress again, I started writing this little app.
                </p>

                <p>
                    Its requirements were simple:
                </p>

                <ol>
                    <li>Write some notes on findings you made.</li>
                    <li>Automatically save them somewhere</li>
                    <li>Enable tagging</li>
                    <li><a href="http://daringfireball.net/projects/markdown/syntax">Make it nice with Markdown</a></li>
                    <li>Available everywhere on every device</li>
                </ol>

                <p>
                    There were not a lot of apps that do all this, so the easiest thing was to quickly write a web app and let WordPress store the data.
                </p>

                <p>
                    And then, <code>MarkPress</code> was born.
                </p>

                <pre><code class=" hljs javascript"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">$initHighlight</span><span class="hljs-params">(block, flags)</span> </span>{
    <span class="hljs-keyword">try</span> {
        <span class="hljs-keyword">if</span> (block.className.search(<span class="hljs-regexp">/\bno\-highlight\b/</span>) != -<span class="hljs-number">1</span>)
        <span class="hljs-keyword">return</span> processBlock(block.function, <span class="hljs-literal">true</span>, <span class="hljs-number">0x0F</span>) + <span class="hljs-string">' class=""'</span>;
    } <span class="hljs-keyword">catch</span> (e) {
        <span class="hljs-comment">/* handle exception */</span>
        <span class="hljs-keyword">var</span> e4x =
            <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>Example
            <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>1234<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>;</span>
    }
    <span class="hljs-keyword">for</span> (<span class="hljs-keyword">var</span> i = <span class="hljs-number">0</span> / <span class="hljs-number">2</span>; i &lt; classes.length; i++) { <span class="hljs-comment">// "0 / 2" should not be parsed as regexp</span>
        <span class="hljs-keyword">if</span> (checkCondition(classes[i]) === <span class="hljs-literal">undefined</span>)
            <span class="hljs-keyword">return</span> <span class="hljs-regexp">/\d+[\s/]/g</span>;
    }
    <span class="hljs-built_in">console</span>.log(<span class="hljs-built_in">Array</span>.every(classes, <span class="hljs-built_in">Boolean</span>));
}</code></pre>
            </section>

            <footer class="post__meta">
                <section class="post__header__published">
                    <time content="2014-09-11T20:48" datetime="2014-09-11T20:48" itemprop="datePublished">Sept 11th 2014</time>
                </section>
                <meta content="Do it Yourself" itemprop="articleSection"/>
                <section itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                    <link itemprop="sameAs" href="http://gaya.ninja/">
                    <meta itemprop="image" content="/examples/jvanzweden_s.jpg">
                    <meta itemprop="name" content="Gaya Kessler">
                </section>
            </footer>
        </article>
    </section>
</body>
</html>