<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Gaya Ninja Blog</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<header class="main-header">
    <a href="#" class="main-header__logo">
        <span class="main-header__logo__text">Gaya Ninja</span>
        <span class="main-header__logo__text--extra">Blog</span>
    </a>
</header>
</body>
</html>