.about {
    margin: rhythm(1) 0 0 0;

    @include media($big-desktop) {
        margin: 0;
        @include span-columns(4);
        position: absolute;
        top: rhythm(3);
        right: 3%;
    }

    &__title {
        @include change-font-size($about-font-size);
        margin: 0 0 rhythm(1) 0;
    }

    &__link {
        display: block;
        margin: rhythm(1) 0 0 0;
        color: $highlight-1;

        &:hover {
            color: $highlight-2;
        }
    }

    &__avatar {
        width: rhythm(3);
        height: rhythm(3);
        float: right;
        border-radius: 100%;
        margin: 0 0 rhythm(0.5) rhythm(0.5);
    }
}