.main-footer {
    @extend .main-header;
    margin-top: rhythm(1);
    padding: rhythm(1) 0 0 0;
    height: auto;
    color: $light-2;
    overflow: hidden;

    @include media($desktop) {
        padding: rhythm(2) 0 rhythm(1);
    }

    &__copyright {
        @include body-padding(0, rhythm(1));
        @include outer-container;

        @include media($tablet-only) {
            @include span-columns(6 of 12);
        }

        @include media($desktop) {
            @include span-columns(6 of 12);
        }

        a {
            color: $light-1;

            &:hover {
                color: $highlight-1;
            }
        }
    }

    &__also-on {
        @extend .main-footer__copyright;

        @include media($tablet) {
            text-align: right;
        }
    }
}
