.post {
    &__header {
        &__text {
            @extend %page-header;
        }
    }

    &__links {
        @include outer-container;

        &__link {
            @include span-columns(4 of 4);
            background: $highlight-1;
            color: $light-1;
            text-decoration: none;
            padding: rhythm(0.25) 2%;
            margin: rhythm(-0.25) 0 rhythm(0.75) 0;
            text-align: center;
            font-style: italic;
            @include transition(background-color $anim-speed);

            &:hover {
                background-color: $highlight-2;
            }

            @include media($mobile) {
                @include omega(1n);
            }

            @include media($tablet) {
                @include span-columns(5 of 10);
            }
        }
    }

    &__body {
        p {
            margin-bottom: rhythm(1);
        }

        a {
            color: $highlight-1;
            @include transition(color $anim-speed);

            &:hover {
                color: lighten($highlight-1, 10);
            }
        }

        h2 {
            @extend %big-font-size;
        }

        code {
            font-family: $code-font;
            color: $light-1;
            background-color: $dark-3;
            padding: 3px 7px;
        }

        ol {
            margin-bottom: rhythm(1);
            list-style-type: decimal;
            padding-left: rhythm(1);

            li {
                padding-left: 1%;
            }
        }

        ul {
            @extend ol;
            padding-left: rhythm(0.6);
            list-style-type: disc;
        }

        pre code {
            padding: rhythm(0.5) 3%;
            margin: 0 -3% rhythm(1) -3%;
            white-space: pre;
            white-space: pre-wrap;
            word-break: normal;
            word-wrap: break-word;
        }
    }
}