.post {
    &__header {
        &__text {
            @extend %page-header;
        }
    }

    &__body {
        p {
            margin-bottom: rhythm(1);
        }

        a {
            color: $highlight-1;
            @include transition(color $anim-speed);

            &:hover {
                color: lighten($highlight-1, 10);
            }
        }

        h2 {
            @extend %big-font-size;
        }

        code {
            font-family: $code-font;
            color: $light-1;
            background-color: $dark-3;
            padding: 3px 7px;
        }

        ol {
            margin-bottom: rhythm(1);
            list-style-type: decimal;
            padding-left: rhythm(1);

            li {
                padding-left: 1%;
            }
        }

        ul {
            @extend ol;
            padding-left: rhythm(0.6);
            list-style-type: disc;
        }

        pre code {
            padding: rhythm(0.5) 3%;
            margin: 0 -3% rhythm(1) -3%;
            white-space: pre;
            white-space: pre-wrap;
            word-break: normal;
            word-wrap: break-word;
        }
    }
}