.posts {
    @include media($big-desktop) {
        @include span-columns(11);
    }
}

.post {
    margin: rhythm(1) 0 0 0;

    &__header {
        &__text {
            @extend %page-header;
        }
    }

    &__social {
        &__item {
            &--twitter, &--facebook {
                @extend .post__social__item;
            }

            display: inline-block;

            a {
                display: block;
                color: $light-4;
                text-decoration: none;
                padding: 0 10px;
                border-radius: 5px;
                @include transition(background-color 0.2s);
            }

            &--twitter {
                a {
                    background: $twitter;

                    &:hover {
                        background: darken($twitter, 10);
                    }
                }
            }

            &--facebook {
                a {
                    background: $facebook;
                    margin-left: 4px;

                    &:hover {
                        background: darken($facebook, 10);
                    }
                }
            }
        }
    }

    &__links {
        @include outer-container;

        @include media($desktop) {
            margin: rhythm(2) 0 rhythm(1) 0;
        }

        &__link {
            @include span-columns(4 of 4);
            border:  1px $highlight-1 solid;
            color: $highlight-1;
            text-decoration: none;
            padding: rhythm-border(0.25, 1px) 2%;
            margin: rhythm(-0.25) 0 rhythm(0.75) 0;
            text-align: center;
            font-style: italic;
            @include transition(background-color $anim-speed, color $anim-speed, border-color $anim-speed);
            border-radius: rhythm(0.75);

            &__title {
                display: block;
            }

            &:hover {
                background-color: $highlight-2;
                border-color: $highlight-2;
                color: $light-1;
            }

            @include media($mobile) {
                @include omega(1n);
            }

            @include media($tablet) {
                @include span-columns(5 of 10);
            }
        }
    }

    &__body {
        p {
            margin-bottom: rhythm(1);
        }

        a {
            color: $highlight-1;
            @include transition(color $anim-speed);

            &:hover {
                color: lighten($highlight-1, 10);
            }
        }

        h2 {
            @extend %big-font-size;
        }

        h3 {
            @include change-font-size($about-font-size);
            padding: rhythm(0.5) 0;
        }

        code {
            font-family: $code-font;
            color: $light-1;
            background-color: $dark-3;
            padding: 3px 7px;
            display: inline-block;
            margin: -3px 0;
        }

        ol {
            margin-bottom: rhythm(1);
            list-style-type: decimal;
            padding-left: rhythm(1);

            li {
                padding-left: 1%;
            }
        }

        ul {
            @extend ol;
            padding-left: rhythm(0.6);
            list-style-type: disc;
        }

        pre code {
            padding: rhythm(0.5) 3%;
            margin: 0 -3.13% rhythm(1) -3.13%;
            white-space: pre;
            white-space: pre-wrap;
            word-break: normal;
            word-wrap: break-word;
            display: block;
        }

        img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }

        blockquote {
            font-style: italic;
            background: $light-3;
            padding: rhythm(0.5);
            margin: 0 0 rhythm(1) 0;

            p {
                margin: 0;
            }
        }

        hr {
            border: 0;
            border-top: 1px solid $light-2;
            margin: rhythm(1) 0 rhythm-border(1, 1px) 0;

            @include media($desktop) {
                margin: rhythm(2) 0 rhythm-border(2, 1px) 0;
            }
        }
    }

    &__meta {
        margin-top: rhythm(2);
        border-top: 1px solid $light-2;
        padding-top: rhythm-border(2, 1px);

        &__published {
            font-style: italic;
        }

        &__closing {
            margin: rhythm(0.5) 0;

            a {
                text-decoration: none;
                color: $highlight-1;

                &:hover {
                    color: $highlight-2;
                    text-decoration: underline;
                }
            }
        }
    }

    &__read-more {
        @extend %button;
        margin: rhythm(-0.25) 0 rhythm(0.75) 0;
    }
}