.sponsor {
    margin: rhythm(1) 0 0 0;
    padding: rhythm(0.5);
    background: $light-3;

    .adpacks-wrap {
        overflow: hidden;
    }

    .adpacks-img {
        display: block;
        height: 120px;
        text-align: center;
        img {
            margin-top: 10px;
        }
    }

    .adpacks-text, .adpacks-poweredby {
        display: block;
        text-decoration: none;
        color: $dark-3;
        @include change-font-size($tiny-font-size);

        &:hover {
            color: $highlight-1;
        }
    }
}